@inherits LayoutComponentBase


<header class="site-header sticky-top py-3 px-3">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <NavLink class="py-2 btn btn-dark px-3 d-md-inline-block" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span>  Home
    </NavLink>
    <NavLink class="py-2 btn btn-dark px-3 d-md-inline-block" href="cashier_console">
        <span class="fa-solid fa-address-card" aria-hidden="true"></span>  Cajero
    </NavLink>
    <NavLink class="py-2 btn btn-dark px-3 d-md-inline-block" href="categories">
        <span class="fa-solid fa-bookmark" aria-hidden="true"></span>  Categorías
    </NavLink>
    <NavLink class="py-2 btn btn-dark px-3 d-md-inline-block" href="products">
        <span class="fa-solid fa-car" aria-hidden="true"></span>  Vehículos
    </NavLink>
    <NavLink class="py-2 d-none btn btn-dark px-3 d-md-inline-block" href="transactions">
        <span class="fas fa-file-invoice-dollar" aria-hidden="true"></span>  Reportes
    </NavLink>
    <br />
    <LoginDisplay></LoginDisplay>
    

  </nav>
</header>

<main class="content px-4">
    @Body
</main>