.container {
    max-width: 960px;
}
h2 {
    color: Black;
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}

td {
    color: Black;
    font-size: 20px;
    font-weight: 300;
    line-height: 44px;
}
/*
 * Custom translucent site header
 */

.index {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: aliceblue;
}
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

    .site-header a {
        color: azure;
        transition: color .15s ease-in-out;
    }

        .site-header a:hover {
            color:white;
            text-decoration: none;
        }

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}